@model AlmacenajeUSACR.Models.Articulo_retirado

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Articulo_retirado</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Codigo_cliente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Codigo_cliente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Codigo_transportista)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Codigo_transportista)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TrackingID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TrackingID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Estado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fecha_retiro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fecha_retiro)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
